* {
	text-decoration: none;
}

#logo {

}

a.active {
	color: green;
}

a:hover {
	color: blue;
}

.navigation li {
	display: inline-block;
}

.info {

}

.input { 

}

.button {

}

.output {

}

.displayinput {

}