<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
</head>

<body>
    <h1 id="logo"><a href="/">{{ title }}</a></h1>
    <ul class="navigation">
	    <li><a href="keyphrases">Keyphrases</a></li>
	    <li><a href="language">Language</a></li>
	    <li><a href="sentiment">Sentiment</a></li>
  	</ul>
    <p>Welcome to Accio! Using the magic of Microsoft's Text Analytics API, Accio can analyze any text with these three tools: </p>
    <ul>
  		<li>Key phrase extraction: This finds the most important points from a text - maybe now you can figure out what that scientific paper is talking about! </li>
    	<li>Language detection: Don't know what language you stumbled upon in the YouTube comments? Want to see how well you can fake French? This tool will tell you the closest language that your text is in - and just how close it really is </li>
    	<li>Sentiment analysis: Is that email you want to send to your unhelpful lab partner too negative? Not sure? We can give tell you!</li>
</body>