<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Tangerine|Bree+Serif">
    <link href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|canvas-print" 
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
</head>
	<body>
    <h1 ><a id="logo" class="font-effect-canvas-print" href="/">Accio</a></h1>
    <ul class="font-effect-shadow-multiple navigation">
        <li><a href="keyphrases" class="active">Keyphrases</a></li>
        <li><a href="language">Language</a></li>
        <li><a href="sentiment">Sentiment</a></li>
    </ul>
	  <p class="info"> What are you thinking? Write it down, we'll know the topic of your input!</p>
		<form action="/keyAnswers" method="POST">
			<textarea class="input" name="text" rows="10" cols="80"></textarea>
	 		<div></div>
			<input class="button" type="submit" value="Accio key phrases!" />
		</form>
	</body>
</html>