<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accio | {{ title }}</title>

    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
  </head>
  <body>
    <h1 id="logo"><a href="/">Accio</a></h1>
    <ul class="navigation">
        <li><a href="keyphrases">Keyphrases</a></li>
        <li><a href="language">Language</a></li>
        <li><a href="sentiment" class="active">Sentiment</a></li>
    </ul>
    <p class="info">Information on how this was calculated and what it means</p>
    <form action='show_sentiment' method="POST">
    	<textarea class="input" name="text_input" rows="10" cols="80"></textarea>
      <div></div>
    	<input class="button" type="submit" value="Get sentiment!">
    </form>	
  </body>
</html>
